@mixin large {
  @media screen and (min-width: 87.5em) {
    @content;
  }
}
@mixin extralarge {
  @media screen and (min-width: 175em) {
    @content;
  }
}
@import "vendors/reset.scss";
@import "table.scss";
@import "element.scss";
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
:root {
  --color-element: 0;
}
