.element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;

  @include large {
    @for $period from 1 through 7 {
      &[data-period='#{$period}'] {
        grid-row: $period;
      }
    }

    @for $group from 1 through 18 {
      &[data-group='#{$group}'] {
        grid-column: $group;
      }
    }
  }

  @include large-only {
    $externalRows: 57 71 8, 89 103 9; /* From, to, row */
    $externalOffset: 4;

    @each $from, $to, $row in $externalRows {
      &:nth-child(n + #{$from}):nth-child(-n + #{$to}) {
        grid-row: $row;
      }

      @for $i from $from through $to {
        &:nth-child(#{$i}) {
          grid-column: $i - $from + $externalOffset;
        }
      }
    }
  }

  @include wide {
    @for $i from 3 through 18 {
      &[data-group='#{$i}'] {
        grid-column: $i + 14;
      }
    }
  }
}

$types: alkaliMetal lanthanide nobleGas transitionMetal postTransitionMetal
  alkalineEarthMetal actinide metalloid otherNonMetal;

$step: calc(360deg / length($types));

@each $type in $types {
  .element--#{$type} {
    $index: index($types, $type);
    background-color: hsl($step * $index, 80%, 80%);
  }
}

.element__symbol {
  font-size: 1.5em;
}

.element__name {
  font-size: 0.75rem;
}
